<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='motor.js') }}"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/hannari.css">
	<title> {{ title }} </title>
</head>

<div class="container">
	<input class="toggle" id="left-toggle" type="radio" name="toggle" >
	<label for="left-toggle" id="left-label">うごく</label>
	<input class="toggle" id="right-toggle" type="radio" name="toggle" checked>
	<label for="right-toggle" id="right-label">とまる</label>
</div>